.button {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:hover:not(:disabled) {
  opacity: 0.7;
}

.primary {
  background-color: blue;
  color: white;
}

.secondary {
  background-color: lightgrey;
  color: black;
}

.danger {
  background-color: red;
  color: white;
}

@media (max-width: 520px) {
  .button {
    padding: 0.3rem 0.55rem;
    font-size: 0.75rem;
  }
}
