.colorInput {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.colorInput:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
